# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ / Arduino / PyInstaller builds
build/
dist/
*.hex
*.elf
*.spec

# Mobile Cordova temporary platforms/plugins
mobile-cordova/platforms/
mobile-cordova/plugins/
mobile-cordova/node_modules/

# Local configuration / workspace
.vscode/
.idea/
.gemini/
*.zip
